name: Cleanup Codebase

on:
  push:
    branches: [main]

jobs:
  cleanup:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - run: npm install

      - name: Run ESLint
        run: npx eslint "**/*.js" --fix

      - name: Install dependencies if there are any
        run: npm ci

      - name: Update dependencies if there are any
        run: npm update

      - name: Run cleanup script
        run: node cleanup.js

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "cleanup commit" || echo "No changes"
          git push
